@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Merienda:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: "Noto Serif Gujarati", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    --background: 298 67% 93%;
    --foreground: 296 71% 8%;
    --card: 298 67% 93%;
    --card-foreground: 296 71% 8%;
    --popover: 298 67% 93%;
    --popover-foreground: 296 71% 8%;
    --primary: 295 68% 26%;
    --primary-foreground: 298 67% 93%;
    --secondary: 331 70% 65%;
    --secondary-foreground: 296 71% 8%;
    --muted: 298 67% 20%;
    --muted-foreground: 296 71% 70%;
    --accent: 347 70% 44%;
    --accent-foreground: 298 67% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 296 71% 8%;
    --border: 298 67% 20%;
    --input: 298 67% 20%;
    --ring: 347 70% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 298 68% 7%;
    --foreground: 296 71% 92%;
    --card: 298 68% 7%;
    --card-foreground: 296 71% 92%;
    --popover: 298 68% 7%;
    --popover-foreground: 296 71% 92%;
    --primary: 295 69% 74%;
    --primary-foreground: 298 68% 7%;
    --secondary: 331 70% 35%;
    --secondary-foreground: 296 71% 92%;
    --muted: 297 69% 80%;
    --muted-foreground: 296 71% 92%;
    --accent: 347 70% 56%;
    --accent-foreground: 298 68% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 295 73% 10%;
    --border: 298 68% 60%;
    --input: 297 69% 80%;
    --ring: 347 70% 60%;
  }
}

* {
  @apply border-border;
}

body {
  @apply custom_bg text-foreground;
}

.custom_bg {
  @apply bg-gradient-to-r from-slate-400 to-rose-300;
}

.dark .custom_bg {
  @apply bg-gradient-to-r from-gray-800 to-gray-600; /* Dark mode gradient */
}
